.navbar, .logo{
    background-color: rgba(255,77,77,0.8) !important;
}
.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    color: #fff;
    background: #1e282c;
    border-left-color:rgba(255,77,77,0.8) !important;
}
.content, .tab-content{
  padding: 0;
}

#search_map, #maindivnetwork, #waf, #home_wallpaper, #mdynamic{
  height: calc(100vh - 50px) !important;
}
#home_wallpaper {
  height: calc(100vh - 50px) !important;
  width: 100%;
  background-image:url('wallpaper.jpg');
  border: none;
}
#home_content{
  height: calc(100vh - 50px) !important;
  width:80%;
  background-color: rgba(34,45,50,0.6);
  padding:5% 10%;
  margin-left:10%;
  color: white;
  text-align: justify;
  text-justify: inter-word;
}
#home_content>p{
  font-size:1.2em !important;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
#pokedex{
  display:block;
    margin:auto;
    width:300px;
}
#outter{
  height: calc(100vh - 50px) !important;
  width:100%;
  background-image: url('wallpaper.jpg');
}
#selectedBynetwork, #selectedBynetwork {
  display:none !important;
}
hr{
  display:none;
}
.irs-bar-edge, .irs-bar, .irs-single{
  background: rgba(255,77,77,0.9) !important;
  border: rgba(255,77,77) !important;
}
#search_settings, #controls { 
  padding: 10px; 
  padding-left:15px; 
  background-color:rgba(0,0,0,0.7); 
  color: white; 
}
.leaflet-interactive{
  stroke: rgb(255,77,77);
  fill: rgb(255,77,77);
  fill-opacity: 0.5;
}
.leaflet-popup-content>img{
  border-radius:50%;
  text-align:center;
  display:block;
  margin:auto;
}
#waf{
  padding-left: 20px;
}
.glyphicon-play{
  color:rgb(255,77,77) !important;
}